:root {
    --cor-background-body: rgb(236, 239, 241); 
    --cor-background-div: #fff;  
    --cor-background-forma: teal; 
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--cor-background-body);
}

div#quadrado{
    margin: 50px auto;
    width: 300px;
    height: 300px;
    border: 2px solid brown;
    background-color: var(--cor-background-div);
}

div#quadrado > div#forma{
    width: 100px;
    /* height: 100px;    */
    height: 30px;
    background-color: var(--cor-background-forma); /* CHAMANDO A VARIAVEL*/
    margin: 50px auto; /* CENTRALIZANDO */ 
    -webkit-border-radius: 100px; /*WEB KIT CHROME*/
    padding: 30px; /* ESPAÇO DENTRO DO ELEMENTO */
    cursor: pointer; /* ALTERAÇÃO DO CURSOR DENTRO DO ELEMENTO*/ 
}