main{
    margin: 40x auto;
    width: 50vw;
    height: auto;
    background-color: cornsilk;
    border: 1px solid royalblue;
}

table,thead,tr, td, th{
    border: 1px solid black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-collapse: collapse; /* faz com que o espaçamento interno seja eliminado*/
    margin: 0 auto; /* para centralizar dentro do main*/
    padding: 10px; /* para dar espaço entre as retas e os dados */
    background-color: #fff;
}

/* thead th{
    background-color: #fff;
} */ 