*{
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --fonte-padrao: Verdana, Geneva, Tahoma, sans-serif;
    --cor-padrao-borda: solid rgb(224, 224, 224);
    --cor-fonte: white;
}


main{
    height: 100vh;
    display: flex;
    justify-content: space-between;
}


.esquerda{
    padding-left: 5%;
    margin-bottom: 3%;
    font-family: var(--fonte-padrao);
    cursor: pointer;
}

.direita{
    padding: 0 2% 0 2%;
    margin: 2.5% 30% 0 0;
    width: 30%;
    height: 45%;
    border: var(--cor-padrao-borda);
}

.direitaPed{
    padding: 0 2% 0 2%;
    margin: 2.5% 30% 0 0;
    width: 55%;
    height: 70%;
    border: var(--cor-padrao-borda);
}


ul{
    list-style-type: none;
}

#primeiro{
    padding-top: 7px;
}

#primSect{
    width: 15%;
    border-right: var(--cor-padrao-borda);
}

.topoCli{
    display: flex;
    font-family: var(--fonte-padrao);
    padding-bottom: 10%;
}

#baixo{
    font-family: var(--fonte-padrao);
}

#btnAjuste{
    display: flex;
    padding-top: 8%; /*atenção*/
}

#clientes{
    font-size: larger;
    text-decoration: underline;
    margin-top: 2%;
}

#btnNovo{
    background-color: rgb(3, 169, 244);
}

#btnSalvar{
    background-color: green;
}

#btnAnterior, #btnProximo{
    color: var(--cor-fonte);
    background-color: blueviolet;
}

#sair{
    margin: 4% 0 0 72%;
    color: red;
}

span:hover{
    cursor: pointer;
}

li{
    padding-top: 1%;
}
input{
    margin-top: 2%;
    border: 1px solid black;
    border-radius: 5px;
}

.botao{
    width: 24%;
    margin: 5px 0 5px 15px;
    padding: 5px;
    border-radius: 5px;
    color: var(--cor-fonte);
}

.botao:hover{
    cursor: pointer;
}

#btnAnterior, #btnProximo{
    width: 14%;
    border-radius: 5px;
}

#segSect{
    height: 53%;
    width: 30%;
    border: var(--cor-padrao-borda);
}

#produtos{
    font-size: larger;
    text-decoration: underline;
    margin-top: 2.5%;
}

section{
    border: 2px solid pink;
    font-family: var(--fonte-padrao);
}

.topoProd{
    display: flex;
    font-family: var(--fonte-padrao);
    padding-bottom: 10%;
}

#terSect{
    width: 45%;
}

#pedidos{
    font-size: larger;
    text-decoration: underline;
    margin-top: 2.5%;
}

.submenu2{
    border: 2px solid green;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}

.box{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: row;
    background-color: aquamarine;
    
}

#azul, #localizar{
    color: blue;
}

#lançarPedido:hover{
    cursor: pointer;
    background-color: rgb(236, 227, 227);
}
